.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0 0.2rem;
  border-radius: 9999px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  background-color: var(--default-bg);
}

.icon {
  display: inline-block;
  object-fit: contain;
  aspect-ratio: 1 / 1;
  height: 3em;
}
