.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 0;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  pointer-events: none;
  
  background-image: url("/src/assets/6x3.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50% auto;
  opacity: 0.15;
  z-index: 0;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  pointer-events: none;

  background-image: url("/src/assets/Pokeball.svg");
  background-repeat: no-repeat;
  background-position: 290% center;
  background-size: 80%;
  opacity: 0.08;
  z-index: 0;
}

.card > * {
  position: relative;
  z-index: 2;
}
