.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #f75a5a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #c2c2c2;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color: #d4d4d4;
  text-decoration: none;
  font-weight: 500;
}